.mcd-view-container {
  margin-left: 1rem;
  min-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.molels-container {
  width: 200px;
  justify-content: space-between;
  margin: 5rem 5rem;
}

.schema-table {
  background-color: #191919;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.header-customer {
  cursor: move;
}

.header-customer > tr > th {
  border-radius: 5px;
  background-color: #6c5ca0;
}

#canvas-wrap {
  position: relative;
}

#overlay {
  position: absolute;
  top: 20px;
  left: 30px;
}
