.attribute-container {
  display: flex;
  flex-wrap: wrap;
}

.preload-dictionary {
  width: 23%;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .preload-dictionary {
    width: 100%;
  }
}

@media (max-width: 551px) {
  .preload-dictionary {
    justify-content: center;
  }
}

.attributes-form {
  width: 75%;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.wrap-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 220px;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

@media (max-width: 551px) {
  .wrap-container {
    margin-left: 5rem;
  }
}

.wrap-button {
  display: flex;
  flex-wrap: wrap;
  margin-left: 220px;
  padding: 0.5rem 0.5rem;
}

.area {
  padding: 0.5rem 1rem;
  max-width: 98%;
}
